.imageContainer {
  width: 150px;
  height: 200px;
}

@media screen and (max-width: 480px) {
  .imageContainer {
    width: 70px;
    height: 100px;
  }
}

@media screen and (max-width: 600px) and (min-width: 481px) {
  .imageContainer {
    width: 90px;
    height: 100px;
  }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
  .imageContainer {
    width: 100px;
    height: 110px;
  }
}